# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs*/
*.sln
*.vcxproj*

# Make files
Makefile

# Profiling files
profiling/

# Configuration files
config.json

# Other files
GenerateFiles.bat
imgui.ini
compile_commands.json
/.cache
premake5
premake5.exe

# XCode
*.xcworkspace
*.xcodeproj

# Assets
*.cbk*
